language: c

compiler:
  - gcc

arch:
  - amd64
  - arm64
  - ppc64le

os:
  - linux

# before_install: ./.ci/${TRAVIS_OS_NAME}-setup.sh

script:
    - uname -a
    - echo TRAVIS_ARCH = $TRAVIS_ARCH
    - python --version
    - pip -V
