language: c

compiler:
  - gcc

arch:
  - amd64
  - arm64

os:
  - linux

# before_install: ./.ci/${TRAVIS_OS_NAME}-setup.sh

script:
    - uname -a
    - echo TRAVIS_OS_NAME = $TRAVIS_OS_NAME
    - echo TRAVIS_ARCH = $TRAVIS_ARCH
    - echo TESTSUITE=$TESTSUITE
    - lscpu
