language: c

os:
  - linux

# before_install: ./.ci/${TRAVIS_OS_NAME}-setup.sh

env:
 - TESTSUITE="1"
 - TESTSUITE="2"

matrix:
  include:
    - os: osx
    - os: linux-ppc64le

script:
    - uname -a
    - echo TRAVIS_OS_NAME = $TRAVIS_OS_NAME
    - echo TRAVIS_ARCH = $TRAVIS_ARCH
    - echo TESTSUITE=$TESTSUITE
