language: c

os:
  - linux

env:
  - TESTSUITE=1
  - TESTSUITE=2
  - TESTSUITE=3

matrix:
  include:
    - os: linux-ppc64le
    - env: TESTSUITE=3


before_install:
  - export ARCH=$(uname -m)
  # canonicalized names for host architecture
  - if [ $ARCH == x86_64 ]; then export ARCH="amd64"; fi

script:
    - uname -a
    - echo ARCH = $ARCH
    - echo TESTSUITE = $TESTSUITE
